<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About us - Brand</title>
    <link rel="stylesheet" href="{% static 'app/assets/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="{% static 'app/assets/css/untitled.css'%}">
</head>

<body style="background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url({% static '/assets/img/best-night-places-at-mysore-1280x720.jpg'%}) no-repeat;background-size: auto, cover;">
    <h1 class="text-center text-white d-none d-lg-block site-heading"><span class="text-primary site-heading-upper mb-3" style="font-size: 50px;">WHY mysore &amp; why we ?</span><span class="site-heading-lower"></span></h1>
    <nav class="navbar navbar-light navbar-expand-lg sticky-top bg-dark py-lg-4" id="mainNav">
        <div class="container"><a class="navbar-brand text-uppercase d-lg-none text-expanded" href="#" style="background: url({% static 'app/assets/img/Mysuru_festival_pink.png?'%}) no-repeat;background-size: cover;font-size: 25px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About us</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'visit' %}">&nbsp;visit to</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'tour' %}">Tour</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="page-section about-heading">
        <div class="container"><img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" data-aos="zoom-in" src="{% static 'app/assets/img/best-night-places-at-mysore-1280x720.jpg'%}">
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-lg-10 col-xl-9 mx-auto">
                        <div data-aos="fade-down" data-aos-duration="750" data-aos-delay="100" class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4"><span class="section-heading-upper">ATITHI DEVHO BHAVHA !</span><span class="section-heading-lower">&nbsp;About Our PURpose</span></h2>
                            <p>The cultural ambiance and achievements of Mysuru earned it the sobriquet Cultural Capital of Karnataka. Mysuru is noted for its heritage structures and palaces, including the Mysuru Palace, and for the festivities that take place during the Dasara festival when the city receives many tourists from around the world. </p>
                            <p class="mb-0"><span>"MySuru" application is a one-stop destination for a tourist wanting to visit Mysuru. The application provides everything , You need before visiting it. It has various features like Transposttiton, Hotel Booking, Translator, Covid Tracker, and many more. The main part is, It is made by Love and Care...</span><span></span><span></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 small">Copyright&nbsp;©&nbsp;mysuru 2020</p>
        </div>
    </footer>
    <script src="{% static 'app/assets/js/jquery.min.js'%}"></script>
    <script src="{% static 'app/assets/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'app/assets/js/bs-init.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="{% static 'app/assets/js/current-day.js'%}"></script>
    <script>
  window.watsonAssistantChatOptions = {
      integrationID: "62a76698-9d19-46e9-9d24-a13f2beea4bb", // The ID of this integration.
      region: "eu-gb", // The region your integration is hosted in.
      serviceInstanceID: "97bac48b-499c-4ed8-af5e-39fe4b990721", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
    document.head.appendChild(t);
  });
</script>
</body>

</html>